<h1>Input Computer Machine</h1>
<%= form_with model: @computer do |form| %>
  <%= form.text_field :name, placeholder: "NEC PC-98" %> <br><br>
  <%= form.text_area :description, placeholder: "QWERTYUIOP" %> <br><br>

  <%= form.submit %>
<% end %>
